

KUBE_API_ARGS="--storage-backend=etcd3 --etcd-servers=http://{{etcd-ip}}:2379 --insecure-bind-address=0.0.0.0   --insecure-port=8080 --service-cluster-ip-range={{service-cluster-ip-range}} --service-node-port-range=1-65535 --admission_control=NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota --logtostderr=false --log-dir=/var/log/kubernetes --v=2

