apiVersion: v1
clusters:
- cluster:
    server: http://{{api_server_ip}}:8080
  name: test-cluster
contexts:
- context:
    cluster: test-cluster
  name: default-system
current-context: default-system 
