

KUBELET_ARGS="--api-servers=http://{{api_server_ip}}:8080 --hostname-override={{node_name}} --logtostderr=false --log-dir=/var/log/kubernetes --cluster-dns={{dns_server_ip}} --cluster-domain={{dns_domain}} --v=2"

