

KUBELET_ARGS="--kubeconfig=/root/.kube/config --require-kubeconfig=true --hostname-override={{node_name}} --logtostderr=false --log-dir=/var/log/kubernetes --cluster-dns={{dns_server_ip}} --cluster-domain={{dns_domain}} --cgroups-per-qos=false --enforce-node-allocatable='' --v=2"

