KUBELET_OPTS="--logtostderr=false --v=2 --log-dir=/opt/kubernetes/logs --hostname-override={{node_name}} --kubeconfig=/opt/kubernetes/cfg/kubelet.kubeconfig --bootstrap-kubeconfig=/opt/kubernetes/cfg/bootstrap.kubeconfig --config=/opt/kubernetes/cfg/kubelet-config.yml --cert-dir=/opt/kubernetes/ssl --container-runtime=remote  --runtime-request-timeout=15m  --container-runtime-endpoint=unix:///run/containerd/containerd.sock  --cgroup-driver=systemd --node-labels=node.kubernetes.io/node='' --feature-gates=IPv6DualStack=true"

