

KUBELET_ARGS_API_SERVERS="--api-servers=http://{{api_server_ip}}:8080 --hostname-override={{node_name}} --logtostderr=false --log-dir=/var/log/kubernetes --cluster-dns={{dns_server_ip}} --cluster-domain={{dns_domain}} --cgroups-per-qos=false --enforce-node-allocatable='' --v=2"

KUBELET_ARGS="--hostname-override={{node_name}} --logtostderr=false --log-dir=/var/log/kubernetes --cluster-dns={{dns_server_ip}} --cluster-domain={{dns_domain}} --cgroups-per-qos=false --enforce-node-allocatable='' --v=2 --kubeconfig=/etc/kubernetes/kube-config --fail-swap-on=false"

