

    upstream k8s-masters{
       {{nginx_k8s_servers}}
    }

    server {
        listen       443;
        ssl off;

        location / {
             proxy_pass http://k8s-masters;
             index  index.html index.htm;
        }

    }

