

    upstream k8s-masters{
       {{nginx_k8s_servers}}
    }

    server {
    	listen       443;
   	ssl on;
    	ssl_certificate  /var/run/kubernetes/apiserver.crt;
	ssl_certificate_key  /var/run/kubernetes/apiserver.key;
        
	location / {
             proxy_pass https://k8s-masters;
             index  index.html index.htm;
        }

    }

