

    upstream k8s-masters{
       {{k8s_servers}}
    }

    server {
        listen       443;

        location / {
             proxy_pass http://k8s-masters;
             index  index.html index.htm;
        }

    }

