

KUBE_PROXY_ARGS_API_SERVERS="--master=http://{{master_ip}}:8080 --logtostderr=false --log-dir=/var/log/kubernetes --v=2"


KUBE_PROXY_ARGS="--logtostderr=false --log-dir=/var/log/kubernetes --v=2 --kubeconfig=/etc/kubernetes/kube-config"
